html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	outline-style: none;

	&:hover {
		display: inline-block;
		text-decoration: none;
		color: rgb(163, 161, 161);
		outline-style: none;
	}
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}


body {
	font-family: 'Montserrat-Bold',
		sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
}


.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1410px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}