@import "vars";
@import "libs";
@import "fonts";
@import "global";

.content {
	background-color: #f8f5f0;
	z-index: 100;

}

.header {
	position: relative;
}


.header__inner {
	height: 105px;

}

.header__logo {
	position: absolute;
	top: 27px;


	&-title {
		margin-left: 233px;
		margin-top: 8px;
		text-transform: uppercase;
		@include f600;
		font-size: 18px;
	}

	&-item {
		button {
			border-radius: 45px;
			padding: 11px 40px;
			text-transform: uppercase;
			@include f500;
			color: #fff;
			background-color: rgba($color: #fff, $alpha: 0.15);
			border: 1px solid rgba($color: #fff, $alpha: 0.8);
			margin-right: 25px;
		}

		img {
			height: 24px;
			width: 24px;

		}

		p {
			height: 33px;
			border-right: 1px solid #FFD80F;
			background-color: #FFD80F;
			margin-right: 5px;
			margin-top: 15px;
		}

		span {
			@include f700;
			font-size: 28px;
			width: 30px;
			letter-spacing: 1px;
			margin-right: 10px;
		}
	}

	&-date {
		max-width: 20px;
		font-family: "Oswald-Regular",
			sans-serif;
		font-weight: 400px;
		font-size: 12px;
	}
}

.header__navbar {

	background-color: #FFE160;
	border-top: 3px solid #FFD210;
	border-bottom: 3px solid #FFD210;
}

.navbar-light .navbar-nav .nav-link {
	color: #001533;

	&:hover {
		opacity: 1;
	}
}

.navbar {
	margin-left: 211px;

	.active {
		opacity: 1;
		@include f600;
	}

	a {
		@include f500;
		text-transform: uppercase;
		opacity: 0.6;
		margin-right: 8px;
		transition: all ease 0.2s;
	}
}

.bg {
	margin-bottom: 100px;
}

// start slider



.slider__inner {
	margin-bottom: 100px;

	&-item {
		margin-top: 20px;

	}

	img {
		max-width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: 639px;
		padding: 0px 15px;
		position: relative;
	}


	&-title {
		position: absolute;
		bottom: 168px;
		margin-left: 30px;
		color: #FFD80F;
		text-transform: uppercase;
		font-size: 13px;
	}

	&-text {
		position: absolute;
		bottom: 50px;
		margin-left: 30px;
		color: #ffffff;
		font-size: 26px;
		width: 500px;
	}
}

.slick-list .draggable {
	padding: 0px 0px;
}

.slick-slide .slick-cloned .slick-active,
.slick-slide .slick-cloned .slick-center,
.slick-slide .slick-current .slick-active .slick-center {
	width: 0;
}

// end slider
// start preview

.wrapper {
	position: relative;
	margin-bottom: 200px;

	.preview__bg-image,
	.video__bg-image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: 1072px;
	}



	.preview__bg-suptitle,
	.preview__bg-subtitle,
	.video__bg-suptitle,
	.video__bg-subtitle,
	.team__suptitle {
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		color: #004575;
		font-size: 32px;
		padding: 5px;
		@include f600;
	}

	.preview__bg-subtitle,
	.video__bg-subtitle {
		top: 0;
		position: absolute;
		right: 41%;
	}

	.preview__bg-suptitle,
	.video__bg-suptitle {
		right: 45%;
		position: absolute;
		color: #ffffff;
	}

	.team__suptitle {
		top: 3px;
		right: 39%;
	}
}

.preview__inner,
.video__inner {
	margin-top: 200px;

	img {
		position: relative;
		max-width: 450px;
	}

	&-title {
		position: absolute;
		bottom: 108px;
		left: 30px;
		color: #FFD80F;
		text-transform: uppercase;
		font-size: 13px;
	}

	&-text {
		position: absolute;
		bottom: 20px;
		left: 31px;
		color: #ffffff;
		font-size: 26px;
		width: 420px;
	}
}

// end preview
// start interview

.interview {
	position: relative;
}

.interview__image {
	// display: block;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 0;
	left: -287px;
	top: 0;
	width: 70%;
	height: 100%;
}

.interview__image .bg {
	position: absolute;
	background-color: rgba(248, 246, 241, 0.9);
	width: 100%;
	height: 100%;
	transition: .3s;
	z-index: 1;
}

.interview__inner {
	margin-bottom: 200px;

	&-item {
		position: relative;
		margin-right: 30px;

	}

	&-img {
		max-width: 800px;
		min-height: 634px;
	}

	&-title {
		position: absolute;
		bottom: 196px;
		left: 76px;
		color: #FFD80F;
		text-transform: uppercase;
		font-size: 16px;
	}

	&-text {
		position: absolute;
		bottom: 45px;
		left: 76px;
		color: #ffffff;
		font-size: 48px;
		width: 678px;
	}
}

.interview__item {
	margin-bottom: 30px;


	img {
		margin-right: 20px;
		z-index: 300;
	}

	&-article {
		z-index: 250;
	}

	&-title {
		font-size: 26px;
		color: #004575;
		min-width: 311px;
		margin-bottom: 30px;

	}

	&-author {
		font-size: 13px;
		@include f400;
		color: #313131;

	}
}

// end interview
// stsrt video
.video__bg-image {
	background-color: rgba(248, 246, 241, 1);
}

.video__inner {


	&-title {
		bottom: 130px;
	}

	&-text {
		font-size: 26px;
		width: 424px;
		line-height: 32px;
	}
}

.wrapper .video__bg-subtitle {
	right: 46%;
}

// end video
// start team
.team {
	position: relative;
}

.team__image {
	// display: block;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 0;
	left: 0;
	bottom: -400px;
	width: 70%;
	height: 100%;
}

.team__image .bg {
	position: absolute;
	background-color: rgba(248, 246, 241, 0.9);
	width: 100%;
	height: 100%;
	transition: .3s;
	z-index: 1;
}

.team__inner {
	margin-bottom: 400px;

	img {
		position: relative;
	}

	&-title {
		position: absolute;
		bottom: 65px;
		margin-left: 30px;
		color: #FFD80F;
		text-transform: uppercase;
		font-size: 13px;
	}

	&-text {
		position: absolute;
		bottom: 25px;
		margin-left: 30px;
		color: #ffffff;
		font-size: 26px;

	}

}

.slick-dots {
	text-align: center;
	margin-top: 50px;

	li {
		display: inline-block;
		margin-left: 3px;
		margin-right: 3px;

		&.slick-active {
			button {
				background-color: #004575;
			}
		}

		button {
			border-radius: 50%;
			background-color: rgba(112, 112, 112, 0.3);
			border: none;
			font-size: 0;
			width: 16px;
			height: 16px;
			cursor: pointer;
			outline: none;
		}
	}
}

// end team
// start partners
.partners {
	background-color: #fff;

	.wrapper {
		padding: 188px 0px;
		margin: 0;
	}
}

.partners__inner {
	position: relative;

	img {
		height: 107px;
		padding: 0px 30px;
	}

	&-top {
		position: absolute;
		top: -2px;
		right: 30%;
	}
}

// end partners
// start  footer
.footer-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 557px;
}

.footer__inner {

	&-title {
		font-size: 28px;
		margin-bottom: 30px;
	}

	&-item {


		.info {
			img {
				margin-right: 20px;
				width: 20px;
				height: 15px;
			}

			a {
				@include f500;
				color: rgba(255, 255, 255, 0.7);
				font-size: 16px;
				margin-bottom: 20px;
			}
		}
	}

	&-categories {
		li {
			border-bottom: 1px solid #1D427C;
			font-size: 14px;
			line-height: 32px;
			position: relative;

			a {
				padding-left: 20px;

				&::before {
					content: "";
					position: absolute;
					width: 4px;
					height: 4px;
					background-color: #FFD80F;
					left: 0;
					bottom: 50%;
				}

				span {
					color: #FFD80F;
					position: absolute;
					right: 0;

				}
			}
		}
	}

}

.footer__inner-item {
	padding-top: 30px;
	margin-top: 15px;
}

.footer__item {

	border-bottom: 1px solid #1D427C;
	height: 80px;

	img {
		padding-bottom: 20px;
	}

	&-title {
		font-size: 16px;
		padding-bottom: 5px;
	}

	&-author {
		font-size: 13px;
	}
}

// end footer

@import "media";