@import "vars";
@import "libs";
@import "fonts";
@import "global";

.content {
	background-color: #f8f5f0;
	z-index: 100;

}

.header {
	position: relative;
}


.header__inner {
	height: 105px;
}

.header__logo {
	position: absolute;
	top: 27px;

	&-title {
		margin-left: 233px;
		margin-top: 8px;
		text-transform: uppercase;
		@include f600;
		font-size: 18px;
	}

	&-item {
		button {
			border-radius: 45px;
			padding: 11px 40px;
			text-transform: uppercase;
			@include f500;
			color: #fff;
			background-color: rgba($color: #fff, $alpha: 0.15);
			border: 1px solid rgba($color: #fff, $alpha: 0.8);
			margin-right: 25px;
		}

		img {
			height: 24px;
			width: 24px;

		}

		p {
			height: 33px;
			border-right: 1px solid #FFD80F;
			background-color: #FFD80F;
			margin-right: 5px;
			margin-top: 15px;
		}

		span {
			@include f700;
			font-size: 28px;
			width: 30px;
			letter-spacing: 1px;
			margin-right: 10px;
		}
	}

	&-date {
		max-width: 20px;
		font-family: "Oswald-Regular",
			sans-serif;
		font-weight: 400px;
		font-size: 12px;
	}
}

.header__navbar {

	background-color: #FFE160;
	border-top: 3px solid #FFD210;
	border-bottom: 3px solid #FFD210;
}

.navbar-light .navbar-nav .nav-link {
	color: #001533;

	&:hover {
		opacity: 1;
	}
}

.navbar {
	margin-left: 211px;

	.active {
		opacity: 1;
		@include f600;
	}

	a {
		@include f500;
		text-transform: uppercase;
		opacity: 0.6;
		margin-right: 8px;
		transition: all ease 0.2s;
	}
}

.slider {
	background-color: rgb(99, 89, 74);
}

.slider__inner {
	max-width: 1920px;
	margin: 110px 0px 52px;


	img {
		max-width: 750px;
		margin-right: 30px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: 610px;

	}
}



// end slider
// start preview

.wrapper {
	position: relative;
	margin-bottom: 200px;

	.preview__bg-image,
	.video__bg-image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: 1072px;
	}



	.preview__bg-suptitle,
	.preview__bg-subtitle,
	.video__bg-suptitle,
	.video__bg-subtitle {
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		color: #004575;
		font-size: 32px;
		padding: 5px;
		@include f600;
	}

	.preview__bg-subtitle,
	.video__bg-subtitle {
		top: 0;
		position: absolute;
		right: 41%;
	}

	.preview__bg-suptitle,
	.video__bg-suptitle {
		right: 45%;
		position: absolute;
		color: #ffffff;
	}

}

.preview__inner,
.video__inner {
	margin-top: 200px;

	img {
		position: relative;
		max-width: 450px;
	}

	&-title {
		position: absolute;
		bottom: 108px;
		left: 30px;
		color: #FFD80F;
		text-transform: uppercase;
		font-size: 13px;
	}

	&-text {
		position: absolute;
		bottom: 20px;
		left: 31px;
		color: #ffffff;
		font-size: 26px;
		width: 420px;
	}
}

// end preview
// start interview


.interview__bg-image {}

.interview__inner {
	margin-bottom: 200px;

	&-item {
		position: relative;
		margin-right: 30px;

	}

	&-img {
		max-width: 800px;
		min-height: 634px;
	}

	&-title {
		position: absolute;
		bottom: 196px;
		left: 76px;
		color: #FFD80F;
		text-transform: uppercase;
		font-size: 16px;
	}

	&-text {
		position: absolute;
		bottom: 45px;
		left: 76px;
		color: #ffffff;
		font-size: 48px;
		width: 678px;
	}
}

.interview__item {
	margin-bottom: 30px;

	img {
		margin-right: 20px;
	}

	&-title {
		font-size: 26px;
		color: #004575;
		min-width: 311px;
		margin-bottom: 30px;
	}

	&-author {
		font-size: 13px;
		@include f400;
		color: #313131;
	}
}

// end interview
// stsrt video
.video__inner {
	&-title {
		bottom: 130px;


	}

	&-text {
		font-size: 26px;
		width: 424px;
		line-height: 32px;
	}

}

.wrapper .video__bg-subtitle {
	right: 46%;
}

// end video

@import "media";